*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVRgoa2UbcngbM_7inD00efy8mhZVt6g3KNQ&usqp=CAU');
    
}
.hero p{
	font-size: 15px;
    font-weight: 100;
    font-style: italic;
	font-style: bold;
    font-family: sans-serif;
    color: rgb(255, 0, 0);
}
.hero h2{
	font-size: 20px;
    font-weight: 100;
    font-style: italic;
	font-style: bold;
    font-family: sans-serif;
    color: blueviolet;
}	
.hero h2:hover{
	-webkit-text-stroke: 2px rgb(75, 2, 2);
	color:transparent;
}
  @media only screen and (max-width:720px){
	  .hero{
    height: 100vh;
    width: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVRgoa2UbcngbM_7inD00efy8mhZVt6g3KNQ&usqp=CAU');
    
}
.hero p{
	font-size: 40px;
    font-weight: 100;
    font-style: italic;
	font-style: bold;
    font-family: sans-serif;
    color: rgb(255, 0, 0);
}
.hero h2{
	font-size: 30px;
    font-weight: 100;
    font-style: italic;
	font-style: bold;
    font-family: sans-serif;
    color: blueviolet;
}	
.hero h2:hover{
	-webkit-text-stroke: 2px rgb(75, 2, 2);
	color:transparent;
}
